<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <link type="text/css" rel="stylesheet" href="../styles.css" /> <!-- /* https://www.w3schools.com/html/html_css.asp */-->
 
    </head>
    <body>
         
        <header>
            
       
        </header>
            <nav> <!-- Navigation bar -->
                
                
                
            <ul>
                <li> <a href="/">  Mario's Pizzaria </a></li>
                <li><a href="/menu"> Menu </a> </li>
                <li><a href="/contact"> Contact page</a> </li>
                 
            </ul>
            
         </nav>

        <main>
            
            
            <!--The div element for the map 
            https://developers.google.com/maps/documentation/javascript/adding-a-google-map#maps_add_map-css
        -->
        
        
    
 
          
            <!-- content for the second section goes here -->
            <div class="pulse">Call now 123456789 <br>
                2305 8th Ave, New York, NY</div>
 
 
    
        </main>

        <footer> 
             
        </footer>
    </body>
</html>